.ModalWrapper {
    display: flex;
    justify-content: center;
    z-index: 999;
}

.BackgroundWrapper {
    display: flex;
    flex-direction: column;
    background-color: #F8E9E9;
    width: 70vw;
    min-height: 30vh;
    border-radius: 2%;
    position: fixed;
}

.CloseButton {
    display: flex;
    margin: 2vh 1vw 0 auto;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.CloseButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.TitleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 50px;
    height: 50px;
    margin-right: 2vw;
}

.StockDescription {
    margin: 0 2vw 2vh 2vw;
}

.StockDescription h3 {
    text-align: center;
}